[Desktop Entry]
Name=SuperTux
Comment=Game similar to the original game Super Mario Bros
Comment[pl]=Gra podobna do oryginalnej gry Super Mario Bros
Exec=supertux
Terminal=false
Icon=supertux
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
